.swiperContainer {}

.swiperContainer img {
    width: 100%;
}


@media (min-width: 820px) {

    .swiperContainer {
        width: 1200px;
        margin: auto;
    }

    .swiperContainer img {
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}